* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #000;
    background-image: url(../../assets/img/dog/fondo/fondo_dog.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Bebas Neue", cursive;
}

.noScroll {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 1000;
}
header .navBar {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
}
header .navBar .menuMobile {
    position: fixed;
    top: 0;
    padding: 0 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    background-color: #000;
    z-index: 1000;
  }
  header .navBar .menuMobile .btnMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navBar .menuMobile .btnMenu .fa-bars {
    display: block;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
  }
  header .navBar .menuMobile .userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navBar .menuMobile .userIcon .fa-user {
    display: block;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
  }
  
  .oculto {
    visibility: hidden;
  }
  
  .menuSide {
    position: absolute;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .menuSide li {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: "Bebas Neue", cursive;
  }
  .menuSide li:hover {
    border-bottom: 2px solid #fff;
  }
  .menuSide li:hover a {
    color: #555;
  }
  
  .sub-menu {
    display: none;
  }
  
  .mostrar {
    transform: translateX(0);
    opacity: 1;
  }
  
  .contenedor-iconos {
    display: none;
  }
  
  /* ! Media Queries ¡ sirve para realizar condiciones en nuestro proyecto, en este caso a partir de 480px en adalente, nuestro diseño sera el mencionado dentro de este media queries */
  /* BARRA DE NAVEGACION TABLET 780px */
  @media screen and (min-width: 780px) {
    .contenedor-iconos {
      width: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 60px;
    }
    .contenedor-iconos .search {
      height: 26px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
    .contenedor-iconos .fa-cart-plus {
      color: #fff;
      font-size: 26px;
      margin-left: 15px;
      cursor: pointer;
      margin-left: 15px;
    }
  
    .titulo-menu {
      display: none;
    }
  }

/* --------------------------------------------------------------------------------- */

/* MAIN */

main{
    margin-top: 55px;
}

/* MAIN PARA MOBILES GRANDES 480px */

@media screen and (min-width:480px) {
    .contenedor-flex-2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
}

/* MAIN PARA TABLET 780px */

@media screen and (min-width:780px){
    .contenedor-flex-1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
    }
    .contenedor-flex-2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0px;
        height: 450px;
    }
}

/* MAIN PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .contenedor-flex-desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 400px;
        margin: 20px 0;
    }
    .contenedor-flex-1{
        width: auto;
        height: 100%;
    }
    .contenedor-flex-2{
        height: 100%;
        width: calc(100% / 3);
        margin: 0;
    }
}

/* BANNER */

.contenedor-superior{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/img/banner/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.contenedor-superior > h1{
    width: 300px;
    margin-top: 30px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* BANNER PARA MOBILES GRANDES 480px */

@media screen and (min-width:480px) {
    .contenedor-superior{
        height: 100vh;
    }
}

/* BANNER PARA DESKTOP 1280px */

@media screen and (min-width:1280px){
    .contenedor-superior{
        height: 100vh;
        grid-column: 1 / span 3;
    }
    .contenedor-superior h1{
        width: 600px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 56px;
        text-align: center;
    }
}

/* SALE */

.sale{
    width: 100vw;
    height: 250px;
}

.sale a img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    transition: all .3s;
}
.sale a img:hover{
    filter: brightness(100%);
}

/* SALE PARA MOBILES GRANDES 480px */

@media screen and (min-width:480px) {
    .sale{
        width: 100vw;
        max-width: 600px;
        height: 400px;
        max-height: 400px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* SALE PARA TABLET 780px */

@media screen and (min-width:780px) {
    .sale{
        height: 100%;
        width: 50%;
        padding: 10px 5px 10px 10px;
        box-sizing: border-box;
    }
    .sale a img{
        width: 100%;
        height: 100%;
    }
}

/* SALE PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .sale{
        height: 100%;
        width: 50%;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        max-width: none;
        max-height: none;
    }
}

/* MAPA */

.mapa{
    width: 100vw;
    height: 300px;
}
.mapa > iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/* MAPA PARA MOBILE GRANDES 480px */

@media screen and (min-width:480px) {
    .mapa{
        width: 100vw;
        max-width: 600px;
        height: 400px;
        max-height: 400px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* MAPA PARA TABLET 780px */

@media screen and (min-width:780px) {
    .mapa{
        width: 50%;
        padding: 10px 10px 10px 5px;
        box-sizing: border-box;
    }
}

/* MAPA PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .mapa{
        height: 100%;
        width: 50%;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        max-height: none;
        max-width: none;
    }
}

/* IMAGEN ANIMADA */

.imagen-animada{
    display: none;
}

/* IMAGEN ANIMADA PARA MOBILES GRANDES 480px */

@media screen and (min-width:480px) {
    .imagen-animada{
        display: block;
        width: 50%;
        height: 100%;
        transform: translateX(-20px);
    }
    .imagen-animada img{
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
}

/* IMAGEN ANIMADA PARA TABLET */

@media screen and (min-width:780px) {
    .imagen-animada{
        display: block;
        width: 50%;
        height: 100%;
    }
    .imagen-animada img{
        width: 100%;
        height: 100%;
    }
}

/* IMAGEN ANIMADA PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .imagen-animada{
        display: none;
    }
}

/* REDES */

.redes{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.redes .redes_sociales{
    width: 100%;
    height: calc(100% / 3);
    padding: 10px 15px;
    box-sizing: border-box;
}

.redes_sociales img{
    width: 100%;
    height: 100%;
}

/* REDES PARA MOBILES GRANDES 480px */

@media screen and (min-width:480px) {
    .redes{
        height: 45%;
        width: 40%;
        transform: translateX(-20px);
    }
    .redes .redes_sociales{
        margin: 6px;
        padding: 0;
        box-sizing: border-box;
    }
    .redes_sociales img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

/* REDES PARA TABLET 780px */

@media screen and (min-width:780px) {
    .redes{
        width: 40%;
        height: 70%;
        margin: 0;
        transform: unset;
    }
    .redes .redes_sociales{
        margin: 10px 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .redes_sociales img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

/* REDES PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .redes{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    justify-content: unset;
    align-items: unset;
    row-gap: 20px;
    align-content: center;
    transform: unset;
    }
    .redes .redes_sociales{
        height: 100%;
        margin: 0;
    }
    .redes_sociales img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.medios_pago{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100px;
}
.medios_pago img{
    width: 60px;
    height: 50px;
}

/* MEDIOS PAGO PARA DESKTOP 1280px */

@media screen and (min-width:1280px){
    .medios_pago{
        justify-content: space-around;
        width: 800px;
        margin: auto;
    }
}

/* ICONO WHATS APP */
.whats_app{
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    z-index: 1000;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation{
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

/* ICONO WHATS APP TABLET 780px */

@media screen and (min-width:780px) {
    .whats_app{
        left: 20px;
        bottom: 20px;
        height: 50px;
        width: 50px;
    }
}

/* ICONO WHATS APP DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .whats_app{
        left: 25px;
        bottom: 25px;
        width: 60px;
        height: 60px;
    }
}

/* --------------------------------------------------------------------------------- */

/* DOG */

.contenedor-dog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* IMG SECCIONES DOG */

.perros-viejos, .perros-adultos, .perros-cachorros, .perros-especiales{
    width: 100vw;
    height: 300px;
    position: relative;
}
.perros-viejos img, .perros-adultos img, .perros-cachorros img, .perros-especiales img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: fill;
    transition: all .5s;
}
.perros-viejos img:hover, .perros-adultos img:hover, .perros-cachorros img:hover, .perros-especiales img:hover{
    filter: brightness(100%);
}
.perros-viejos p, .perros-adultos p, .perros-cachorros p, .perros-especiales p{
    font-size: 2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .776);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* IMG SECCIONES DOG DESKTOP 1280px*/

@media screen and (min-width:1280px) {
    .perros-viejos, .perros-adultos, .perros-cachorros, .perros-especiales{
        height: 450px;
    }
    .perros-viejos p, .perros-adultos p, .perros-cachorros p, .perros-especiales p{
        font-size: 3rem;
    }
}

/* --------------------------------------------------------------------------------- */

/* CAT */

.contenedor-principal-gatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* IMG CAT SECCIONES */

.gatos-viejos, .gatos-adultos, .gatitos, .gatos-especiales{
    width: 100vw;
    height: 300px;
    position: relative;
}
.gatos-viejos img, .gatos-adultos img, .gatitos img, .gatos-especiales img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: fill;
    transition: all .5s;
}
.gatos-viejos img:hover, .gatos-adultos img:hover, .gatitos img:hover, .gatos-especiales img:hover{
    filter: brightness(100%);
}
.gatos-viejos p, .gatos-adultos p, .gatitos p, .gatos-especiales p{
    font-size: 2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .776);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* IMG CAT SECCIONES DESKTOP 1280px*/

@media screen and (min-width:1280px) {
    .gatos-viejos, .gatos-adultos, .gatitos, .gatos-especiales{
        height: 450px;
    }
    .gatos-viejos p, .gatos-adultos p, .gatitos p, .gatos-especiales p{
        font-size: 3rem;
    }
}

/* --------------------------------------------------------------------------------- */

/* MARKET */

/* OFERTA */

.contenedor-ofertas{
    width: 100vw;
    height: 400px;
}
.contenedor-ofertas img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* TITULO SECCIONES */

.contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    background-color: rgba( 255, 255, 255);
    border-radius: 50px;
    width: 320px;
    height: 80px;
    margin: 40px 0 20px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}    

/* TITULO SECCIONES PARA TABLET 780px */

@media screen and (min-width:780px) {
    .titulo{
        margin: 40px 0;
    }
}

/* CARDS */

.contenedor-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    position: relative;
}
.fa-angle-left::before{
    color: #fff;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}
.fa-angle-right::before{
    color: #fff;
    font-size: 45px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 18rem;
    transform: scale(.85);
    background-color: transparent;
}
.img-container{
    height: 200px;
}
.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.card-body{
    max-height: 191px;
    /* border-top: 1.5px solid rgba(0,0,0,.6); */
    background: linear-gradient(#8e9eab, #eef2f3, transparent);
    border-radius: 0 0 10px 10px;
}
.botton-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgb(0, 0, 0);
}
.card-text{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #000;
}
.btn-primary{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.dog-chow-card{
    display: none;
}
.royal-canin-card{
    display: none;
}
.whiskas-card{
    display: none;
}
.agility-card{
    display: none;
}

/* CARDS PARA MOBILE GRANDES 480px */

@media screen and (min-width:480px){
    .fa-angle-left::before{
        left: 10%;
    }
    .fa-angle-right::before{
        right: 10%;
    }
}

/* CARDS PARA TABLET 780px */

@media screen and (min-width:780px) {
    .dog-chow-card{
        display: block;
    }
    .agility-card{
        display: block;
    }
    .card{
        transform: scale(1);
    }
    .fa-angle-left::before{
        left: 5%;
    }
    .fa-angle-right::before{
        right: 5%;
    }
}

/* CARDS PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .royal-canin-card{
        display: block;
    }
    .dog-chow-card{
        display: block;
    }
    .agility-card{
        display: block;
    }
    .whiskas-card{
        display: block;
    }
}

/* --------------------------------------------------------------------------------- */

/* ABOUT US */

/* TITLE */

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    width: 100vw;
}
.title-container h2{
    color: #fff;
    font-size: 40px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
}

.fa-lightbulb::before{
    display: block;
    color: #fff000;
    font-size: 35px;
    margin-left: 1rem;
    height: 45px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes rotation{
    from{transform: rotateY(0deg);}
    to{transform: rotateY(360deg);}
}


/* TITLE PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .title-container h2{
        font-size: 50px;
    }
    .fa-lightbulb::before{
        font-size: 50px;
        height: 60px;
    }
}

/* FLOAT BOX */

.box-container{
    width: 100vw;
    padding: 2rem;
    box-sizing: border-box;
}
.float-box{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
}
.float-img{
    width: 100px;
    height: 150px;
    margin: .5rem;
    float: left;
}
.float-img img{
    width: 100%;
    height: 100%;
}
.float-box p{
    color: #000;
    font-family: 'Inter', sans-serif;
}

/* FLOAT BOX PARA TABLET 780px */

@media screen and (min-width:780px){
    .float-img{
        width: 150px;
        height: 200px;
    }
    .float-box{
        height: unset;
    }
}

/* FLOAT BOX PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .float-img{
        width: 170px;
        height: 220px;
    }
}

/* VIDEO */

.video{
    width: 100vw;
    height: 400px;
    box-sizing: border-box;
}
.video iframe{
    width: 100%;
    height: 100%;
}

/* VIDEO PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .video{
        padding: 2rem;
    }
}

/* ---------------------------------------------------------------------------------- */

/* HELP */

/* TITLE */

.title-help-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
    width: 100vw;
    box-sizing: border-box;
    height: 30%;
}
.title-help-container h2{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: .75rem;
    font-family: "Bebas Neue", cursive;
}
.fa-paper-plane::before{
    display: block;
    color: #fff000;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
    font-size: 2rem;
}

/* TITLE PARA TABLET 780px */

@media screen and (min-width:780px) {
    .title-help-container h2{
        font-size: 3rem;
    }
    .fa-paper-plane::before{
        font-size: 3rem;
    }
}

/* TITLE PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .title-help-container{
        flex-direction: row;
        justify-content: center;
        height: 30vh;
    }
    .fa-paper-plane::before{
        margin-left: 2rem;
    }
}

.boxFormContainer{
    padding: 02rem;
    background-color: rgba(255, 255, 255, .6);
    margin: 1.5rem;
    border-radius: 8px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.form-floating, .form-select{
    margin-bottom: 2rem;
}
.radioContainer{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.radioContainer div{
    margin-right: 1rem;
}
.titleRadio{
    margin-bottom: .5rem;
}
.textArea{
    resize: none;
    overflow-y: auto;
}
.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------------------------------------------------------------------------------ */

/* FOOTER */
.footerContainer{
    padding: 1rem;
    height: 30%;
    background-color: rgba(10, 10, 10, .885);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.box{
    padding: .75rem 1.5rem;
    margin-bottom: 1rem;
}
.box h3{
    color: #fff;
    margin-bottom: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.6rem;
}
.box ul{
    list-style: none;
    padding: 0;
}
.box ul li{
    margin-bottom: .4rem;
}
.box ul li a{
    font-size: 1rem;
    color: rgba(255, 255, 255, .85);
}
.box ul li a:hover{
    color: rgba(255, 255, 255, .3);
}
.bar{
    border-bottom: 1px solid rgba(255, 255, 255, .85);
    height: 0;
    width: 50%;
    transform: translateX(50%);
    margin-bottom: 1rem;
}
.redesSociales{
    display: flex;
    justify-content: flex-end;
}
.fa-facebook-square{
    margin-right: 1rem;
    font-size: 1.55rem;
    color: #fff;
}
.fa-instagram-square{
    margin-right: 1rem;
    font-size: 1.55rem;
    color: #fff;
}
.fa-twitter{
    margin-right: 1rem;
    font-size: 1.55rem;
    color: #fff;
}
.footerContainer p{
    color: rgba(255, 255, 255, .7);
    font-size: .85rem;
    text-align: center;
}
.footerContainer p::after{
    content: "  DeliveryPetFood.com";
    color: #aaa000;
}