// Loader Spin

.loaderContainer{
    width: 100vw;
    height: 100vh;
    @include flex();
    background-color: $black;
    position: relative;
    z-index: 9999;
    transition: ease-in-out all 900ms;
    
    &__loader{
        width: 70px;
        height: 70px;
        border: 6px solid $white;
        border-radius: 50%;
        border-left-color: transparent;
        animation: loader infinite 1.5s linear;
    }
}

@keyframes loader {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}