// Variables Declaradas :

$black: rgb(0, 0, 0); 
$white: rgb(255, 255, 255);
$btn-color: #ffc107;
$bg-color-box: rgba(255, 255, 255, .75);
$bg-img: url(../../assets/img/dog/fondo/fondo_dog.jpg);
$shadow-2: 0px 3px 8px 0px rgba(17,19,27,.3);
$font: "Bebas Neue", cursive;
$inter: 'Inter', sans-serif;
$borderRadius: 8px;
$fontSizeSubTitle: 1.6rem;

// Viewports

$tablet: 780px;
$desktop: 1280px;
