* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.loaderContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 9999;
  transition: all 1.5s;
}
.loaderContainer__loader {
  width: 70px;
  height: 70px;
  border: 6px solid white;
  border-radius: 50%;
  border-left-color: transparent;
  -webkit-animation: loader infinite 1.5s linear;
          animation: loader infinite 1.5s linear;
}

@-webkit-keyframes loader {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  background-image: url(../../assets/img/dog/fondo/fondo_dog.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Bebas Neue", cursive;
}

.noScroll {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 1000;
}
.header__nav {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
}
.header__nav__mobile {
  position: fixed;
  top: 0;
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 1000;
  box-shadow: 1px 1px 18px -2px black;
}
@media screen and (min-width: 1280px) {
  .header__nav__mobile {
    display: none;
  }
}
.header__nav__mobile .btnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__mobile .btnMenu .fa-bars {
  display: block;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
.header__nav__mobile .userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__mobile .userIcon .fa-user {
  display: block;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
.header__nav__menuSide {
  position: absolute;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
@media screen and (min-width: 1280px) {
  .header__nav__menuSide {
    flex-direction: row;
    opacity: 1;
    width: 100%;
    transform: none;
    height: 60px;
    transition: none;
    margin: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.82);
  }
}
.header__nav__menuSide .list-item {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  margin-top: 1rem;
  font-family: "Bebas Neue", cursive;
}
@media screen and (min-width: 1280px) {
  .header__nav__menuSide .list-item {
    margin: 0 1.5rem;
    padding: 0;
  }
}
.header__nav__menuSide .list-item .subMenu_container__subMenu {
  display: none;
}
.header__nav__menuSide .list-item:hover {
  border-bottom: 2px solid #fff;
}
@media screen and (min-width: 1280px) {
  .header__nav__menuSide .list-item:hover {
    border: none;
  }
}
.header__nav__menuSide .list-item:hover a {
  color: #555;
}
.header__nav__iconContainer {
  display: none;
}

.oculto {
  visibility: hidden;
}

.mostrar {
  transform: translateX(0);
  opacity: 1;
}

main {
  margin-top: 55px;
}
@media screen and (min-width: 780px) {
  main .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}

.container {
  width: 100%;
  height: 5.3rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset;
}
@media screen and (min-width: 780px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 1rem 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 1rem 6rem;
  }
}
.container__search-box {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.3rem 1.2rem;
  box-shadow: 1px 1px 18px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container__search-box__text {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  float: left;
  height: 100%;
  font-size: 1.1rem;
  color: #555;
}
@media screen and (min-width: 1280px) {
  .container__search-box__text {
    font-size: 1.5rem;
    width: 80%;
    padding-left: 1.5rem;
  }
}
.container__search-box__icon {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__search-box__icon:hover {
  color: white;
}
.container__search-box__icon .fa-search {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1280px) {
  .container__search-box__icon .fa-search {
    font-size: 1.7rem;
    padding-right: 1rem;
  }
}

.saleCarousel {
  padding: 1rem;
  padding-bottom: 0;
  height: 38vh;
  min-width: 365px;
}
@media screen and (min-width: 1280px) {
  .saleCarousel {
    height: 70vh;
  }
}
.saleCarousel .carousel-indicators {
  margin-bottom: 0.5rem;
  padding: 0;
  align-items: flex-end;
}
.saleCarousel .carousel-inner {
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  height: 100%;
}
.saleCarousel .carousel-inner .carousel-item {
  height: 100%;
}
.saleCarousel .carousel-inner .carousel-item img {
  height: 100%;
}

.mapa {
  width: 100vw;
  min-width: 365px;
  height: 300px;
  padding: 1rem;
  padding-bottom: 0;
}
@media screen and (min-width: 780px) {
  .mapa {
    height: 100%;
    width: 50%;
    padding: 1rem;
    padding-right: 0.5rem;
  }
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}

.containerMediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 365px;
}
@media screen and (min-width: 780px) {
  .containerMediosPago {
    height: 100%;
    width: 50%;
    padding-left: 0.5rem;
  }
}
.containerMediosPago .mediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: auto;
}
@media screen and (min-width: 780px) {
  .containerMediosPago .mediosPago {
    height: 100%;
  }
}
.containerMediosPago .mediosPago h3 {
  font-size: 2rem;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin-bottom: 1.5rem;
}
.containerMediosPago .mediosPago h3::after {
  content: " de pago";
  text-transform: uppercase;
  color: #ffc107;
}
.containerMediosPago .mediosPago ul {
  width: 100%;
  padding-left: 1.5rem;
}
.containerMediosPago .mediosPago ul .listItem {
  font-family: "Inter", sans-serif;
  text-align: start;
}
.containerMediosPago .mediosPago ul .firstListItem::after {
  content: " Mercado Pago.";
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #333;
}
.containerMediosPago .mediosPago img {
  width: 100%;
  height: auto;
}
.containerMediosPago .mediosPago button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 5rem;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  background-color: #ffc107;
  color: black;
}
.containerMediosPago .mediosPago button a {
  color: black;
}
.containerMediosPago .mediosPago button a:hover {
  color: rgba(0, 0, 0, 0.78);
}

.whats_app {
  position: fixed;
  right: 1.8rem;
  bottom: 1.8rem;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 300;
}
@media screen and (min-width: 1280px) {
  .whats_app {
    left: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
  }
}

.dogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dogContainer__perrosViejos, .dogContainer__perrosAdultos, .dogContainer__perrosCachorros, .dogContainer__perrosEspeciales {
  width: 100vw;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .dogContainer__perrosViejos, .dogContainer__perrosAdultos, .dogContainer__perrosCachorros, .dogContainer__perrosEspeciales {
    height: 450px;
  }
}
.dogContainer__perrosViejos img, .dogContainer__perrosAdultos img, .dogContainer__perrosCachorros img, .dogContainer__perrosEspeciales img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (min-width: 1280px) {
  .dogContainer__perrosViejos img, .dogContainer__perrosAdultos img, .dogContainer__perrosCachorros img, .dogContainer__perrosEspeciales img {
    filter: brightness(50%);
    transition: all 500ms;
  }
  .dogContainer__perrosViejos img:hover, .dogContainer__perrosAdultos img:hover, .dogContainer__perrosCachorros img:hover, .dogContainer__perrosEspeciales img:hover {
    filter: brightness(100%);
  }
}
.dogContainer__perrosViejos p, .dogContainer__perrosAdultos p, .dogContainer__perrosCachorros p, .dogContainer__perrosEspeciales p {
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.776);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .dogContainer__perrosViejos p, .dogContainer__perrosAdultos p, .dogContainer__perrosCachorros p, .dogContainer__perrosEspeciales p {
    font-size: 3rem;
  }
}

.catContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.catContainer__gatosViejos, .catContainer__gatosAdultos, .catContainer__gatitos, .catContainer__gatosEspeciales {
  width: 100vw;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .catContainer__gatosViejos, .catContainer__gatosAdultos, .catContainer__gatitos, .catContainer__gatosEspeciales {
    height: 450px;
  }
}
.catContainer__gatosViejos img, .catContainer__gatosAdultos img, .catContainer__gatitos img, .catContainer__gatosEspeciales img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (min-width: 1280px) {
  .catContainer__gatosViejos img, .catContainer__gatosAdultos img, .catContainer__gatitos img, .catContainer__gatosEspeciales img {
    filter: brightness(50%);
    transition: all 500ms;
  }
  .catContainer__gatosViejos img:hover, .catContainer__gatosAdultos img:hover, .catContainer__gatitos img:hover, .catContainer__gatosEspeciales img:hover {
    filter: brightness(100%);
  }
}
.catContainer__gatosViejos p, .catContainer__gatosAdultos p, .catContainer__gatitos p, .catContainer__gatosEspeciales p {
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.776);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .catContainer__gatosViejos p, .catContainer__gatosAdultos p, .catContainer__gatitos p, .catContainer__gatosEspeciales p {
    font-size: 3rem;
  }
}

.saleBox {
  width: 100%;
  height: 20vh;
  box-shadow: 1px 1px 18px -2px black;
}
@media screen and (min-width: 1280px) {
  .saleBox {
    height: 45vh;
  }
}
.saleBox a {
  display: block;
  width: 100%;
  height: 100%;
}
.saleBox a .sales {
  box-shadow: 1px 1px 18px -2px black;
  width: 100%;
  height: 100%;
}

.perros, .gatos {
  width: 100%;
  margin-bottom: 2rem;
}
.perros .subtitle, .gatos .subtitle {
  color: white;
  margin-top: 1.5rem;
  padding-left: 0.8rem;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.776);
}
@media screen and (min-width: 1280px) {
  .perros .subtitle, .gatos .subtitle {
    padding-left: 2.4rem;
    font-size: 2.5rem;
  }
}
.perros span, .gatos span {
  height: 0;
  border-bottom: 2px solid white;
  display: block;
  margin: 0 0.8rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .perros span, .gatos span {
    margin: 0 2.4rem 2.4rem 2.4rem;
  }
}
.perros .cardContainer, .gatos .cardContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  padding: 0.8rem;
  padding-top: 0;
}
@media screen and (min-width: 1280px) {
  .perros .cardContainer, .gatos .cardContainer {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 2.4rem;
    padding-top: 0;
  }
}
.perros .cardContainer .card, .gatos .cardContainer .card {
  width: 100%;
  max-width: 250px;
  height: 330px;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
}
.perros .cardContainer .card:hover, .gatos .cardContainer .card:hover {
  box-shadow: 0px 3px 8px 0px rgba(17, 19, 27, 0.3);
}
@media screen and (min-width: 1280px) {
  .perros .cardContainer .card, .gatos .cardContainer .card {
    width: 250px;
    height: 410px;
    max-height: 410px;
    justify-self: center;
    transition: all 1.5s ease-in-out;
  }
  .perros .cardContainer .card:hover, .gatos .cardContainer .card:hover {
    transform: translateY(-60%);
  }
}
.perros .cardContainer .card img, .gatos .cardContainer .card img {
  width: 100%;
  height: 55%;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 0.8rem;
  -o-object-fit: fill;
     object-fit: fill;
}
.perros .cardContainer .card .card-body, .gatos .cardContainer .card .card-body {
  height: 45%;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.perros .cardContainer .card .card-body__box-title, .gatos .cardContainer .card .card-body__box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
  height: 40%;
}
.perros .cardContainer .card .card-body__box-title .card-title, .gatos .cardContainer .card .card-body__box-title .card-title {
  text-align: center;
  font-size: 1rem;
}
.perros .cardContainer .card .card-body .card-text, .gatos .cardContainer .card .card-body .card-text {
  height: 25%;
  text-align: center;
  margin-bottom: 0.4rem;
}
.perros .cardContainer .card .card-body div, .gatos .cardContainer .card .card-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
}
.perros .cardContainer .card .card-body div input, .gatos .cardContainer .card .card-body div input {
  width: 40%;
  height: 100%;
  margin-right: 0.3rem;
  border-radius: 0;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.35);
  color: #777;
  text-align: center;
}
.perros .cardContainer .card .card-body div a, .gatos .cardContainer .card .card-body div a {
  width: 60%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.72rem;
  border-style: none;
  border-radius: 0;
  padding: 0.25rem 0.9rem;
  text-align: center;
  background-color: #ffc107;
  align-self: center;
}
@media screen and (min-width: 1280px) {
  .perros .cardContainer .card .card-body div a, .gatos .cardContainer .card .card-body div a {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.perros .cardContainer .card .card-body div a .fa-cart-plus, .gatos .cardContainer .card .card-body div a .fa-cart-plus {
  font-size: 0.8rem;
}
@media screen and (min-width: 1280px) {
  .perros .cardContainer .card .card-body div a .fa-cart-plus, .gatos .cardContainer .card .card-body div a .fa-cart-plus {
    margin-right: 0.2rem;
    font-size: 1.4rem;
  }
}
.perros .cardContainer .card .card-body div a:hover, .gatos .cardContainer .card .card-body div a:hover {
  opacity: 0.76;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 100vw;
}
.titleContainer h2 {
  color: white;
  font-size: 40px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
}
@media screen and (min-width: 1280px) {
  .titleContainer h2 {
    font-size: 50px;
  }
}
.titleContainer .fa-lightbulb {
  display: block;
  color: #ffc107;
  font-size: 35px;
  margin-left: 1rem;
  height: 45px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@media screen and (min-width: 1280px) {
  .titleContainer .fa-lightbulb {
    font-size: 50px;
    height: 60px;
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.box-container {
  width: 100vw;
  padding: 1rem;
}
.box-container .float-box {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
@media screen and (min-width: 780px) {
  .box-container .float-box {
    height: unset;
  }
}
.box-container .float-box .float-img {
  width: 100px;
  height: 150px;
  margin: 0.5rem;
  float: left;
}
@media screen and (min-width: 780px) {
  .box-container .float-box .float-img {
    width: 150px;
    height: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .box-container .float-box .float-img {
    width: 170px;
    height: 220px;
  }
}
.box-container .float-box .float-img img {
  width: 100%;
  height: 100%;
}
.box-container p {
  color: black;
  font-family: "Inter", sans-serif;
}

.video {
  width: 100vw;
  height: 400px;
  box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
  .video {
    padding: 1rem;
  }
}
.video iframe {
  width: 100%;
  height: 100%;
}

.title-help-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100vw;
  height: 30%;
}
@media screen and (min-width: 1280px) {
  .title-help-container {
    flex-direction: row;
    justify-content: center;
    height: 20vh;
    padding: 1rem;
  }
}
.title-help-container h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0.75rem;
  font-family: "Bebas Neue", cursive;
}
@media screen and (min-width: 780px) {
  .title-help-container h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .title-help-container h2 {
    margin: 0;
  }
}
.title-help-container .fa-paper-plane {
  display: block;
  color: #ffc107;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  font-size: 2rem;
}
@media screen and (min-width: 780px) {
  .title-help-container .fa-paper-plane {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .title-help-container .fa-paper-plane {
    margin-left: 2rem;
    font-size: 3rem;
  }
}

.boxFormContainer {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 1rem;
  font-family: "Inter", sans-serif;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
@media screen and (min-width: 1280px) {
  .boxFormContainer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.boxFormContainer .form-floating, .boxFormContainer .radioContainer, .boxFormContainer .form-select {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1280px) {
  .boxFormContainer .form-floating, .boxFormContainer .radioContainer, .boxFormContainer .form-select {
    width: 40%;
    min-width: 40%;
    display: inline-block;
    margin: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .boxFormContainer .form-select {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .boxFormContainer .form-floating-4 .floatingSelect {
    transform: scale(0.85) translateY(0.5rem) translateX(0.15rem);
  }
}
.boxFormContainer .radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxFormContainer .radioContainer div {
  margin-right: 1rem;
}
.boxFormContainer .titleRadio {
  margin-bottom: 0.5rem;
}
.boxFormContainer .textArea-container {
  width: 100%;
}
.boxFormContainer .textArea-container .textArea {
  resize: none;
  overflow-y: auto;
}
@media screen and (min-width: 1280px) {
  .boxFormContainer .textArea-container .textArea {
    width: 100%;
  }
}
.boxFormContainer .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.boxFormContainer .submitBtn__btn {
  background-color: #ffc107;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
}
.boxFormContainer .submitBtn__btn:hover {
  background-color: #ffc107;
  filter: brightness(70%);
}

footer {
  background-color: rgba(10, 10, 10, 0.885);
  box-shadow: 1px 1px 18px -2px black;
  height: 30%;
}
@media screen and (min-width: 1280px) {
  footer {
    height: 40%;
  }
}
footer .footerContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 1280px) {
  footer .footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}
footer .footerContainer .box {
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
}
footer .footerContainer .box h3 {
  color: white;
  margin-bottom: 1.5rem;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6rem;
}
footer .footerContainer .box ul {
  list-style: none;
  padding: 0;
}
footer .footerContainer .box ul li {
  margin-bottom: 0.4rem;
}
footer .footerContainer .box ul li a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
footer .footerContainer .box ul li a:hover {
  color: rgba(255, 255, 255, 0.3);
}
footer .footerContainer .bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: 0;
  width: 50%;
  transform: translateX(50%);
  margin-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  footer .footerContainer .bar {
    display: none;
  }
}
footer .redesSociales {
  display: flex;
  justify-content: flex-end;
}
footer .redesSociales .fa-facebook-square {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: white;
}
footer .redesSociales .fa-instagram-square {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: white;
}
footer .redesSociales .fa-twitter {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: white;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  text-align: center;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}
footer p::after {
  content: "  DeliveryPetFood.com";
  color: #aaa000;
}/*# sourceMappingURL=estilos_nuevos.css.map */