// Variables Declaradas :

$black: #000; 
$white: #fff;
$buttonColor: #ffc107;
$backgroundColorBox:  rgba(255, 255, 255, .75);
$backgroundImg: url(../../assets/img/dog/fondo/fondo_dog.jpg);
$font: "Bebas Neue", cursive;
$inter: 'Inter', sans-serif;
$borderRadius: 8px;
$fontSizeSubTitle: 1.6rem;

// MIXIN

@mixin sombras {
    -webkit-box-shadow: 1px 1px 18px -2px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 18px -2px rgba(0,0,0,1);
    box-shadow: 1px 1px 18px -2px rgba(0,0,0,1);
}

@mixin bordes {
    border-radius: 6px;
}

@mixin bordes-sombras {
    -webkit-box-shadow: 1px 1px 18px -2px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 18px -2px rgba(0,0,0,1);
    box-shadow: 1px 1px 18px -2px rgba(0,0,0,1);
    border-radius: 6px;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.containerLoader{
    width: 100vw;
    height: 100vh;
    @include flex();
    background-color: $black;
    position: relative;
    z-index: 9999;
    transition: all 1.5s;
    
    .loader{
        width: 70px;
        height: 70px;
        border: 6px solid #fff;
        border-radius: 50%;
        border-left-color: transparent;
        border-left-style: groove;
        animation: loader infinite 1.5s linear;
    }
}

@keyframes loader {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

// .containerLoader{
//     margin: 80px auto;
//     width: 40px;
//     height: 40px;
//     position: relative;
//     transform: rotateZ(45deg);

//     .loader{
//         float: left;
//         width: 50%;
//         height: 50%;
//         position: relative;
//         transform: scale(1.1);
//         border: 1px solid $white;

//         &::before{
//             content: "";
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-color: #333;
//         }
//     }
// }

a{
    text-decoration: none;
    color: $white;
}
body{
    background-color: $black;
    background-image: $backgroundImg;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: $font;
}
.noScroll{
    overflow: hidden;
}


header{
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 1000;

        .navBar{
            position: fixed;
            top: 0;
            height: 55px;
            width: 100%;
        
            .menuMobile{
                position: fixed;
                top: 0;
                padding: 0 1.5rem;
                margin: 0;
                @include flex;
                width: 100%;
                height: 55px;
                justify-content: space-between;
                background-color: $black;
                z-index: 1000;
                @include sombras();

                    .btnMenu{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        .fa-bars{
                            display: block;
                            color: $white;
                            font-size: 26px;
                            cursor: pointer;
                        }
                    }

                    .userIcon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                            
                        .fa-user{
                            display: block;
                            color: $white;
                            font-size: 26px;
                            cursor: pointer;
                        }
                    }
            }
        }
}
.oculto{
    visibility: hidden;
}
.menuSide{
    position: absolute;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: $black;
    width: 100vw;
    height: 100vh;
    padding: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s;

    li{
        text-align: center;
        padding: 1rem 0;
        font-size: 2rem;
        margin-top: 1rem;
        font-family: $font; 

        &:hover{
            border-bottom: 2px solid #fff;
            
            a{  
                color: #555;
            }
        }
    }
}
.sub-menu{
    display: none;
}
.mostrar{
    transform: translateX(0);
    opacity: 1;
}
.contenedor-iconos{
    display: none;
}


/* ! Media Queries ¡ sirve para realizar condiciones en nuestro proyecto, en este caso a partir de 480px en adalente, nuestro diseño sera el mencionado dentro de este media queries */

/* BARRA DE NAVEGACION TABLET 780px */

@media screen and (min-width: 780px){
    .contenedor-iconos{
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 60px;
        
        .search{
            height: 26px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
        .fa-cart-plus{
            color: $white;
            font-size: 26px;
            margin-left: 15px;
            cursor: pointer;
            margin-left: 15px;
        }
    }
}

// MAIN

main{
    margin-top: 55px;
    
    @media screen and (min-width: 780px) {
        .flexContainer{
            @include flex();
            height: 25rem;
        }
    }
}


// BANNER

.contenedor-superior{
    width: 100vw;
    height: 70vh;
    background-image: url(../../assets/img/banner/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include sombras();
    
    h1{
        width: 300px;
        margin-top: 30px;
        color: $white;
        font-family: 'Kaushan Script', cursive;
        font-size: 40px;
        text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        letter-spacing: 2px;
    }
}


/* BANNER PARA MOBILES GRANDES 480px */

@media screen and (min-width:480px) {
    .contenedor-superior{
        height: 70vh;
    }
}

/* BANNER PARA DESKTOP 1280px */

@media screen and (min-width:1280px){
    .contenedor-superior{
        height: 100vh;
        grid-column: 1 / span 3;
    }
    .contenedor-superior h1{
        width: 600px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 56px;
        text-align: center;
    }
}

// SALE

.saleCarousel{
    padding: 1rem;
    padding-bottom: 0;
}
.carousel-inner{
    @include bordes-sombras();
}


// MAPA

.mapa{
    width: 100vw;
    height: 300px;
    padding: 1rem;
    padding-bottom: 0;

    @media screen and (min-width: 780px) {
        height: 100%;
        width: 50%;
        padding-right: .5rem;
    }
    
    iframe{
        width: 100%;
        height: 100%;
        border: none;
        @include bordes-sombras();
    }
}

// MEDIOS DE PAGO

.containerMediosPago{
    @include flex();
    padding: 1rem;

    @media screen and (min-width: 780px) {
        height: 100%;
        width: 50%;
        padding-left: .5rem;
    }
    
    .mediosPago{
        @include flex();
        flex-direction: column;
        @include bordes-sombras();
        padding: 1.5rem;
        background-color: $backgroundColorBox;
        width: 100%;
        height: auto;

        @media screen and (min-width: 780px) {
            height: 100%;
        }

        h3{
            font-size: 2rem;
            color: #111;
            text-transform: uppercase;
            text-align: center;
            width: 60%;
            margin-bottom: 1.5rem;

            &::after{
                content: " de pago";
                text-transform: uppercase;
                color: #ffc107;
            }
        }
        ul{
            width: 100%;
            padding-left: 1.5rem;

            .listItem{
                font-family: 'Inter', sans-serif;
                text-align: start;
            }
            .firstListItem{

                &::after{
                    content: " Mercado Pago.";
                    text-transform: uppercase;
                    font-family: 'Fjalla One', sans-serif;
                    font-size: .9rem;
                    color: #333;
                }
            }
        }
        img{
            width: 100%;
            height: auto;
        }
        button{
            margin-top: 1.5rem;
            margin-bottom: .5rem;
            padding: .5rem 5rem;
            @include bordes-sombras();
            background-color: #ffc107;
            color: $black;

            a{
                color: $black;

                &:hover{
                    color: rgba(0, 0, 0, .78);
                }
            }
        }
    }
}

/* ICONO WHATS APP */
.whats_app{
    position: fixed;
    right: 1.8rem;
    bottom: 1.8rem;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 300;
}

/* ICONO WHATS APP TABLET 780px */

@media screen and (min-width:780px) {
    .whats_app{
        left: 20px;
        bottom: 20px;
        height: 50px;
        width: 50px;
    }
}

/* ICONO WHATS APP DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .whats_app{
        left: 25px;
        bottom: 25px;
        width: 60px;
        height: 60px;
    }
}


// MARKET

    .saleBox{
        width: 100%;
        height: 250h;

        a{
            display: block;
            width: 100%;
            height: 100%;

            .sales{
            @include sombras();
            width: 100%;
            height: 100%;
            }
        }
    }
    .perros, .gatos{
        width: 100%;
        
        .subtitle{
            color: $white;
            margin-top: 1.5rem;
            padding-left: .8rem;
            font-size: 2rem;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, .776);

            @media screen and (min-width: 1280px) {
                padding-left: 2.4rem;
                font-size: 2.5rem;
            }
        }

        span{
            height: 0;
            border-bottom: 2px solid $white;
            display: block;
            margin: 0 .8rem;
            margin-bottom: 1.5rem;

            @media screen and (min-width: 1280px) {
                margin: 0 2.4rem 2.4rem 2.4rem;
            }
        }
        
        .cardContainer{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: .8rem;
            padding: .8rem;
            padding-top: 0;

            @media screen and (min-width: 1280px) {
                grid-template-rows: 1fr;
                grid-template-columns: repeat(4, 1fr);
                padding: 2.4rem;
                padding-top: 0;
            }

            .card{
                width: 100%;
                height: 330px;
                @include bordes-sombras();
                background-color: transparent;
                border: none;

                @media screen and (min-width: 1280px) {
                    width: 250px;
                    height: 410px;
                    max-height: 410px;
                    justify-self: center;
                    transition: all 1.5s ease-in-out;

                    &:hover{
                        transform: translateY(-60%);
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    background-color: $backgroundColorBox;
                    padding-top: .8rem;
                }
                .card-body{
                    padding: .5rem;
                    padding-bottom: .8rem;
                    font-family: $inter;
                    color: $black;
                    background-color: rgba(255, 255, 255, .75);
                    border: none;
                    border-radius: 0 0 6px 6px;

                    .card-title{
                        text-align: center;
                    }

                    .card-text{
                        text-align: center;
                        margin-bottom: .8rem;
                    }

                    div{
                        @include flex();
                        width: 100%;
                        height: auto;

                        input{
                            width: 40%;
                            height: 3.5rem;
                            margin-right: .3rem;
                            border-radius: 0;
                            border-style: none;
                            border: 1px solid rgba(0, 0, 0, .35);
                            color: #777;
                            text-align: center;
                        }
                        a{
                            width: 60%;
                            height: 3.5rem;
                            font-family: $inter;
                            font-size: .72rem;
                            border-style: none;
                            border-radius: 0;
                            padding: .5357142857rem .9rem;
                            text-align: center;
                            background-color: #ffc107;
                            align-self: center;
                            
                            @media screen and (min-width: 1280px){
                                font-size: .8rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: nowrap;
                            }
                            
                            .fa-cart-plus{
                                font-size: .8rem;
                                
                                @media screen and (min-width: 1280px) {
                                    margin-right: .2rem;
                                    font-size: 1.4rem;
                                }
                            }
                            
                            &:hover{
                                opacity: .76;
                            }
                        }
                    }
                }
            }
        }
    }

// HELP

.title-help-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
    width: 100vw;
    box-sizing: border-box;
    height: 30%;
}
.title-help-container h2{
    color: $white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: .75rem;
    font-family: "Bebas Neue", cursive;
}
.fa-paper-plane::before{
    display: block;
    color: #fff000;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, .776);
    font-size: 2rem;
}

/* TITLE PARA TABLET 780px */

@media screen and (min-width:780px) {
    .title-help-container h2{
        font-size: 3rem;
    }
    .fa-paper-plane::before{
        font-size: 3rem;
    }
}

/* TITLE PARA DESKTOP 1280px */

@media screen and (min-width:1280px) {
    .title-help-container{
        flex-direction: row;
        justify-content: center;
        height: 30vh;
    }
    .fa-paper-plane::before{
        margin-left: 2rem;
    }
}

.boxFormContainer{
    padding: 2rem 1.5rem;
    background-color: rgba(255, 255, 255, .6);
    margin: 1.5rem 1.5rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    @include bordes-sombras();
}

.form-floating, .form-select{
    margin-bottom: 2rem;
}
.radioContainer{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.radioContainer div{
    margin-right: 1rem;
}
.titleRadio{
    margin-bottom: .5rem;
}
.textArea{
    resize: none;
    overflow-y: auto;
}
.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
}


// FOOTER 


footer{
    background-color: rgba(10, 10, 10, .885);
    @include sombras();
    height: 30%;

    @media screen and (min-width: 1280px) {
        height: 40%;
    }

    .footerContainer{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        font-family: 'Inter', sans-serif;

        @media screen and (min-width: 1280px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            gap: 1rem;
        }
    
        .box{
            padding: .75rem 1.5rem;
            margin-bottom: 1rem;
            
            h3{
                color: $white;
                margin-bottom: 1.5rem;
                font-family: 'Shadows Into Light', cursive;
                font-size: 1.6rem;
            }
            ul{
                list-style: none;
                padding: 0;
                
                li{
                    margin-bottom: .4rem;
                    
                    a{
                        font-size: 1rem;
                        color: rgba(255, 255, 255, .85);
                        
                        &:hover{
                            color: rgba(255, 255, 255, .3);
                        }
                    }
                }
            }
            
        }
        .bar{
            border-bottom: 1px solid rgba(255, 255, 255, .85);
            height: 0;
            width: 50%;
            transform: translateX(50%);
            margin-bottom: 1rem;

            @media screen and (min-width: 1280px) {
                display: none;
            }
        }
    }
    .redesSociales{
        display: flex;
        justify-content: flex-end;
        
        .fa-facebook-square{
            margin-right: 1rem;
            font-size: 1.55rem;
            color: $white;
        }
        .fa-instagram-square{
            margin-right: 1rem;
            font-size: 1.55rem;
            color: $white;
        }
        .fa-twitter{
            margin-right: 1rem;
            font-size: 1.55rem;
            color: $white;
        }
    }

    p{
        color: rgba(255, 255, 255, .7);
        font-family: $inter;
        font-size: .85rem;
        text-align: center;
        margin: 0;
        padding: 0 1rem 1rem 1rem;
        
        &::after{
            content: "  DeliveryPetFood.com";
            color: #aaa000;
        }
    }
}