@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #000;
  background-image: url(../../assets/img/dog/fondo/fondo_dog.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Bebas Neue", cursive;
}

.noScroll {
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 1000;
}
header .navBar {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
}
header .navBar .menuMobile {
  position: fixed;
  top: 0;
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  background-color: #000;
  z-index: 1000;
  box-shadow: 1px 1px 18px -2px black;
}
header .navBar .menuMobile .btnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .menuMobile .btnMenu .fa-bars {
  display: block;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}
header .navBar .menuMobile .userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .menuMobile .userIcon .fa-user {
  display: block;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.oculto {
  visibility: hidden;
}

.menuSide {
  position: absolute;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
.menuSide li {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  margin-top: 1rem;
  font-family: "Bebas Neue", cursive;
}
.menuSide li:hover {
  border-bottom: 2px solid #fff;
}
.menuSide li:hover a {
  color: #555;
}

.sub-menu {
  display: none;
}

.mostrar {
  transform: translateX(0);
  opacity: 1;
}

.contenedor-iconos {
  display: none;
}

/* ! Media Queries ¡ sirve para realizar condiciones en nuestro proyecto, en este caso a partir de 480px en adalente, nuestro diseño sera el mencionado dentro de este media queries */
/* BARRA DE NAVEGACION TABLET 780px */
@media screen and (min-width: 780px) {
  .contenedor-iconos {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 60px;
  }
  .contenedor-iconos .search {
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .contenedor-iconos .fa-cart-plus {
    color: #fff;
    font-size: 26px;
    margin-left: 15px;
    cursor: pointer;
    margin-left: 15px;
  }
}
/* --------------------------------------------------------------------------------- */
/* MAIN */
main {
  margin-top: 55px;
}
main .contenedor-principal {
  width: 100vw;
}

/* MAIN PARA MOBILES GRANDES 480px */
@media screen and (min-width: 480px) {
  .contenedor-flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}
/* MAIN PARA TABLET 780px */
@media screen and (min-width: 780px) {
  .contenedor-flex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
  }

  .contenedor-flex-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
    height: 450px;
  }
}
/* MAIN PARA DESKTOP 1280px */
@media screen and (min-width: 1280px) {
  .contenedor-flex-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 400px;
    margin: 20px 0;
  }

  .contenedor-flex-1 {
    width: auto;
    height: 100%;
  }

  .contenedor-flex-2 {
    height: 100%;
    width: calc(100% / 3);
    margin: 0;
  }
}
/* BANNER */
.contenedor-superior {
  width: 100vw;
  height: 70vh;
  background-image: url(../../assets/img/banner/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 1px 1px 18px -2px black;
}

.contenedor-superior > h1 {
  width: 300px;
  margin-top: 30px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 2px;
}

/* BANNER PARA MOBILES GRANDES 480px */
@media screen and (min-width: 480px) {
  .contenedor-superior {
    height: 70vh;
  }
}
/* BANNER PARA DESKTOP 1280px */
@media screen and (min-width: 1280px) {
  .contenedor-superior {
    height: 100vh;
    grid-column: 1/span 3;
  }

  .contenedor-superior h1 {
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 56px;
    text-align: center;
  }
}
/* SALE */
.saleCarousel {
  padding: 0.8rem;
  box-shadow: 1px 1px 18px -2px black;
}

.d-block {
  border-radius: 6px;
}

/* MAPA */
.mapa {
  width: 100vw;
  height: 300px;
  padding: 1rem;
  box-shadow: 1px 1px 18px -2px black;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
}

/* MAPA PARA MOBILE GRANDES 480px */
@media screen and (min-width: 480px) {
  .mapa {
    width: 100vw;
    max-width: 600px;
    height: 400px;
    max-height: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/* MAPA PARA TABLET 780px */
@media screen and (min-width: 780px) {
  .mapa {
    width: 50%;
    padding: 10px 10px 10px 5px;
    box-sizing: border-box;
  }
}
/* MAPA PARA DESKTOP 1280px */
@media screen and (min-width: 1280px) {
  .mapa {
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    max-height: none;
    max-width: none;
  }
}
.containerMediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.containerMediosPago .mediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: auto;
}
.containerMediosPago .mediosPago h3 {
  font-size: 2rem;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin-bottom: 1.5rem;
}
.containerMediosPago .mediosPago h3::after {
  content: " de pago";
  text-transform: uppercase;
  color: #ffc107;
}
.containerMediosPago .mediosPago ul {
  width: 100%;
  padding-left: 1.5rem;
}
.containerMediosPago .mediosPago ul .listItem {
  font-family: "Inter", sans-serif;
  text-align: start;
}
.containerMediosPago .mediosPago ul .firstListItem::after {
  content: " Mercado Pago.";
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #333;
}
.containerMediosPago .mediosPago img {
  width: 100%;
  height: auto;
}
.containerMediosPago .mediosPago button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 5rem;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  background-color: #ffc107;
  color: #000;
}
.containerMediosPago .mediosPago button a {
  color: #000;
}
.containerMediosPago .mediosPago button a:hover {
  color: rgba(0, 0, 0, 0.78);
}

/* ICONO WHATS APP */
.whats_app {
  position: fixed;
  right: 1.8rem;
  bottom: 1.8rem;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 300;
}

/* ICONO WHATS APP TABLET 780px */
@media screen and (min-width: 780px) {
  .whats_app {
    left: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
  }
}
/* ICONO WHATS APP DESKTOP 1280px */
@media screen and (min-width: 1280px) {
  .whats_app {
    left: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
  }
}
.perros {
  width: 100%;
}
.perros .subtitle {
  color: #f5f5f5;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}
.perros span {
  height: 0;
  border-bottom: 2px solid #f5f5f5;
  display: block;
  margin: 0 2rem 1rem 1.5rem;
}
.perros .cardContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  padding: 0.8rem;
  padding-top: 0;
}
.perros .cardContainer .card {
  width: 100%;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  background-color: transparent;
  border: none;
}
.perros .cardContainer .card img {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.perros .cardContainer .card .card-body {
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  font-family: "Inter", sans-serif;
  color: #000;
  background-color: rgba(255, 255, 255, 0.75);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0 0 6px 6px;
}
.perros .cardContainer .card .card-body .card-title {
  text-align: center;
}
.perros .cardContainer .card .card-body .card-text {
  text-align: center;
  margin-bottom: 0.8rem;
}
.perros .cardContainer .card .card-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.perros .cardContainer .card .card-body div input {
  width: 100%;
  height: 3.5rem;
  margin-right: 0.3rem;
  border-radius: 0;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.35);
  color: #777;
  text-align: center;
}
.perros .cardContainer .card .card-body div a {
  width: 100%;
  height: 3.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.72rem;
  border-style: none;
  border-radius: 0;
  padding: 0.5357142857rem 0.9rem;
  text-align: center;
  background-color: #ffbd35;
}
.perros .cardContainer .card .card-body div a .fa-cart-plus {
  font-size: 0.8rem;
}
.perros .cardContainer .card .card-body div a:hover {
  opacity: 0.76;
}

.title-help-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100vw;
  box-sizing: border-box;
  height: 30%;
}

.title-help-container h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0.75rem;
  font-family: "Bebas Neue", cursive;
}

.fa-paper-plane::before {
  display: block;
  color: #fff000;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  font-size: 2rem;
}

/* TITLE PARA TABLET 780px */
@media screen and (min-width: 780px) {
  .title-help-container h2 {
    font-size: 3rem;
  }

  .fa-paper-plane::before {
    font-size: 3rem;
  }
}
/* TITLE PARA DESKTOP 1280px */
@media screen and (min-width: 1280px) {
  .title-help-container {
    flex-direction: row;
    justify-content: center;
    height: 30vh;
  }

  .fa-paper-plane::before {
    margin-left: 2rem;
  }
}
.boxFormContainer {
  padding: 2rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1.5rem 1.5rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}

.form-floating, .form-select {
  margin-bottom: 2rem;
}

.radioContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.radioContainer div {
  margin-right: 1rem;
}

.titleRadio {
  margin-bottom: 0.5rem;
}

.textArea {
  resize: none;
  overflow-y: auto;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  padding: 1rem;
  height: 30%;
  background-color: rgba(10, 10, 10, 0.885);
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  box-shadow: 1px 1px 18px -2px black;
}
.footerContainer .box {
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
}
.footerContainer .box h3 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6rem;
}
.footerContainer .box ul {
  list-style: none;
  padding: 0;
}
.footerContainer .box ul li {
  margin-bottom: 0.4rem;
}
.footerContainer .box ul li a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
.footerContainer .box ul li a:hover {
  color: rgba(255, 255, 255, 0.3);
}
.footerContainer .bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: 0;
  width: 50%;
  transform: translateX(50%);
  margin-bottom: 1rem;
}

.redesSociales {
  display: flex;
  justify-content: flex-end;
}
.redesSociales .fa-facebook-square {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: #fff;
}
.redesSociales .fa-instagram-square {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: #fff;
}
.redesSociales .fa-twitter {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: #fff;
}

.footerContainer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.85rem;
  text-align: center;
}
.footerContainer p::after {
  content: "  DeliveryPetFood.com";
  color: #aaa000;
}/*# sourceMappingURL=estilos_nuevos.css.map */