.loaderContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 9999;
  transition: all 1.5s;
}
.loaderContainer__loader {
  width: 70px;
  height: 70px;
  border: 6px solid white;
  border-radius: 50%;
  border-left-color: transparent;
  -webkit-animation: loader infinite 1.5s linear;
          animation: loader infinite 1.5s linear;
}

@-webkit-keyframes loader {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  background-image: url(../../assets/img/wallpaper/wallpaper.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Bebas Neue", cursive;
}

.noScroll {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 1000;
}
.header__nav {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
}
.header__nav__mobile {
  position: fixed;
  top: 0;
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 1000;
  box-shadow: 1px 1px 18px -2px black;
}
@media screen and (min-width: 1280px) {
  .header__nav__mobile {
    display: none;
  }
}
.header__nav__mobile .btnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__mobile .btnMenu .fa-bars {
  display: block;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
.header__nav__mobile .userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__mobile .userIcon .fa-user {
  display: block;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
.header__nav__menuSide {
  position: absolute;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
.header__nav__menuSide__userIcon {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__nav__menuSide {
    flex-direction: row;
    opacity: 1;
    width: 100%;
    transform: none;
    height: 60px;
    transition: none;
    margin: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.82);
    position: relative;
    gap: 2.5rem;
  }
  .header__nav__menuSide__userIcon {
    position: absolute;
    right: 1.5rem;
    z-index: 100;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__nav__menuSide__userIcon .fa-user {
    cursor: pointer;
    font-size: 1.7rem;
  }
}
.header__nav__menuSide .list-item {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  margin-top: 1rem;
  font-family: "Bebas Neue", cursive;
}
@media screen and (min-width: 1280px) {
  .header__nav__menuSide .list-item {
    margin: 0;
    padding: 0;
  }
}
.header__nav__menuSide .list-item .subMenu_container__subMenu {
  display: none;
}
.header__nav__menuSide .list-item:hover {
  border-bottom: 2px solid #fff;
}
@media screen and (min-width: 1280px) {
  .header__nav__menuSide .list-item:hover {
    border: none;
  }
}
.header__nav__menuSide .list-item:hover a {
  color: #555;
}

.oculto {
  visibility: hidden;
}

.mostrar {
  transform: translateX(0);
  opacity: 1;
}

.mostrarLogin {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

main {
  margin-top: 55px;
  position: relative;
}
main .login-box {
  display: none;
}
@media screen and (min-width: 780px) {
  main .login-box {
    display: block;
    padding: 2.5rem;
    background-color: rgba(10, 10, 10, 0.885);
    position: fixed;
    top: 4.5rem;
    right: 1.5rem;
    height: 550px;
    width: 400px;
    z-index: 700;
    box-shadow: 1px 1px 18px -2px black;
    border-radius: 6px;
    transform: translateX(150%);
    opacity: 0;
    transition: all 1000ms;
  }
  main .login-box__login__title {
    color: white;
    font-size: 1.6rem;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0.12rem;
  }
  main .login-box__login .bar {
    height: 0;
    border-bottom: 1px solid white;
    width: 100%;
  }
  main .login-box__login__subtitle {
    color: white;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin: 1rem 0 0.5rem 1rem;
  }
  main .login-box__login input {
    margin-left: 1rem;
    font-family: "Inter", sans-serif;
    outline: none;
    color: #555;
    padding-left: 0.5rem;
    font-size: 1rem;
    height: 2rem;
  }
  main .login-box__login input::-moz-placeholder {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
  main .login-box__login input:-ms-input-placeholder {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
  main .login-box__login input::placeholder {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
  main .grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 65% auto;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
  }
  main .grid-container .saleCarousel {
    grid-row: 1/3;
    padding: 0;
    height: 100%;
  }
  main .grid-container .dog-box, main .grid-container .cat-box {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
    height: 100%;
  }
  main .grid-container .cat-box {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0;
    height: 100%;
  }
  main .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 400px;
  }
}
@media screen and (min-width: 780px) and (min-width: 1280px) {
  main .flexContainer {
    height: 500px;
  }
}
main .container {
  width: 100%;
  height: 5.3rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset;
  margin-top: 4rem;
}
@media screen and (min-width: 780px) {
  main .container {
    width: 100%;
    margin: 0;
    padding: 1rem 5rem;
  }
}
@media screen and (min-width: 1280px) {
  main .container {
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 1rem 6rem;
  }
}
main .container__search-box {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.3rem 1.2rem;
  box-shadow: 1px 1px 18px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
main .container__search-box__text {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  float: left;
  height: 100%;
  font-size: 1.1rem;
  color: #555;
}
@media screen and (min-width: 1280px) {
  main .container__search-box__text {
    font-size: 1.5rem;
    width: 80%;
    padding-left: 1.5rem;
  }
}
main .container__search-box__icon {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}
main .container__search-box__icon:hover {
  color: white;
}
main .container__search-box__icon .fa-search {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1280px) {
  main .container__search-box__icon .fa-search {
    font-size: 1.7rem;
    padding-right: 1rem;
  }
}
main .saleCarousel {
  padding: 1rem;
  padding-bottom: 0;
  height: 65vh;
  min-width: 365px;
}
main .saleCarousel .carousel-indicators {
  margin-bottom: 0.5rem;
  padding: 0;
  align-items: flex-end;
}
main .saleCarousel .carousel-inner {
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  height: 100%;
}
main .saleCarousel .carousel-inner .carousel-item {
  height: 100%;
}
main .saleCarousel .carousel-inner .carousel-item img {
  height: 100%;
}
main .dog-box, main .cat-box {
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  height: 300px;
  border-radius: 6px;
  position: relative;
}
main .dog-box p, main .cat-box p {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.776);
  font-size: 1.6rem;
  text-align: center;
}
main .dog-box img, main .cat-box img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  transition: all 400ms;
}
@media screen and (min-width: 1280px) {
  main .dog-box img:hover, main .cat-box img:hover {
    filter: grayscale(100%);
    transform: scale(1.02);
  }
}
main .mapa {
  width: 100%;
  min-width: 365px;
  height: 300px;
  padding: 1rem;
  padding-bottom: 0;
}
@media screen and (min-width: 780px) {
  main .mapa {
    height: 100%;
    width: 50%;
    padding: 0;
  }
}
main .mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
main .containerMediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 365px;
}
@media screen and (min-width: 780px) {
  main .containerMediosPago {
    height: 100%;
    width: 50%;
    padding: 0;
  }
}
main .containerMediosPago .mediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 780px) {
  main .containerMediosPago .mediosPago {
    height: 100%;
    justify-content: space-evenly;
  }
}
main .containerMediosPago .mediosPago h3 {
  font-size: 2rem;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin-bottom: 1.5rem;
}
main .containerMediosPago .mediosPago h3::after {
  content: " de pago";
  text-transform: uppercase;
  color: #ffc107;
}
@media screen and (min-width: 1280px) {
  main .containerMediosPago .mediosPago h3 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}
main .containerMediosPago .mediosPago ul {
  width: 100%;
  padding-left: 1.5rem;
}
main .containerMediosPago .mediosPago ul .listItem {
  font-family: "Inter", sans-serif;
  text-align: start;
}
@media screen and (min-width: 1280px) {
  main .containerMediosPago .mediosPago ul .listItem {
    font-size: 1.15rem;
  }
}
main .containerMediosPago .mediosPago ul .firstListItem::after {
  content: " Mercado Pago.";
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #333;
}
@media screen and (min-width: 1280px) {
  main .containerMediosPago .mediosPago ul .firstListItem {
    margin-bottom: 1rem;
  }
}
main .containerMediosPago .mediosPago img {
  width: 100%;
  height: auto;
}
main .containerMediosPago .mediosPago button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 5rem;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  box-shadow: 0, 0, 2px, 0 rgba(0, 0, 0, 0.85);
  background-color: #ffc107;
  color: black;
  transition: all 300ms ease;
}
main .containerMediosPago .mediosPago button:hover {
  box-shadow: 0px 3px 8px 0px rgba(17, 19, 27, 0.3);
}
main .containerMediosPago .mediosPago button a {
  color: black;
}
main .containerMediosPago .mediosPago button a:hover {
  color: rgba(0, 0, 0, 0.78);
}
main .whats_app {
  position: fixed;
  right: 1.8rem;
  bottom: 1.8rem;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 300;
}
@media screen and (min-width: 1280px) {
  main .whats_app {
    left: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
  }
}
main .dogContainer, main .catContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 780px) {
  main .dogContainer, main .catContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
  }
}
main .dogContainer__perrosViejos, main .catContainer__gatosViejos, main .catContainer__gatosAdultos, main .catContainer__gatitos, main .catContainer__gatosEspeciales, main .dogContainer__perrosAdultos, main .dogContainer__perrosCachorros, main .dogContainer__perrosEspeciales {
  width: 100%;
  height: 230px;
  position: relative;
}
@media screen and (min-width: 780px) {
  main .dogContainer__perrosViejos, main .catContainer__gatosViejos, main .catContainer__gatosAdultos, main .catContainer__gatitos, main .catContainer__gatosEspeciales, main .dogContainer__perrosAdultos, main .dogContainer__perrosCachorros, main .dogContainer__perrosEspeciales {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
main .dogContainer__perrosViejos img, main .catContainer__gatosViejos img, main .catContainer__gatosAdultos img, main .catContainer__gatitos img, main .catContainer__gatosEspeciales img, main .dogContainer__perrosAdultos img, main .dogContainer__perrosCachorros img, main .dogContainer__perrosEspeciales img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
@media screen and (min-width: 780px) {
  main .dogContainer__perrosViejos img, main .catContainer__gatosViejos img, main .catContainer__gatosAdultos img, main .catContainer__gatitos img, main .catContainer__gatosEspeciales img, main .dogContainer__perrosAdultos img, main .dogContainer__perrosCachorros img, main .dogContainer__perrosEspeciales img {
    filter: brightness(50%);
    transition: filter 500ms, transform 700ms;
  }
  main .dogContainer__perrosViejos img:hover, main .catContainer__gatosViejos img:hover, main .catContainer__gatosAdultos img:hover, main .catContainer__gatitos img:hover, main .catContainer__gatosEspeciales img:hover, main .dogContainer__perrosAdultos img:hover, main .dogContainer__perrosCachorros img:hover, main .dogContainer__perrosEspeciales img:hover {
    filter: brightness(100%);
    transform: scale(1.01);
  }
}
main .dogContainer__perrosViejos p, main .catContainer__gatosViejos p, main .catContainer__gatosAdultos p, main .catContainer__gatitos p, main .catContainer__gatosEspeciales p, main .dogContainer__perrosAdultos p, main .dogContainer__perrosCachorros p, main .dogContainer__perrosEspeciales p {
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.776);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  main .dogContainer__perrosViejos p, main .catContainer__gatosViejos p, main .catContainer__gatosAdultos p, main .catContainer__gatitos p, main .catContainer__gatosEspeciales p, main .dogContainer__perrosAdultos p, main .dogContainer__perrosCachorros p, main .dogContainer__perrosEspeciales p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 780px) {
  main .dogContainer__perrosAdultos {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 780px) {
  main .dogContainer__perrosCachorros {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 780px) {
  main .dogContainer__perrosEspeciales {
    padding: 0;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 780px) {
  main .catContainer__gatosViejos {
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .catContainer__gatosAdultos {
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  main .catContainer__gatitos {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .catContainer__gatosEspeciales {
    padding: 0;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
main .catContainer__gatosViejos img, main .catContainer__gatosAdultos img, main .catContainer__gatitos img, main .catContainer__gatosEspeciales img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
@media screen and (min-width: 1280px) {
  main .catContainer__gatosViejos img, main .catContainer__gatosAdultos img, main .catContainer__gatitos img, main .catContainer__gatosEspeciales img {
    filter: brightness(50%);
    transition: filter 500ms, transform 700ms;
  }
  main .catContainer__gatosViejos img:hover, main .catContainer__gatosAdultos img:hover, main .catContainer__gatitos img:hover, main .catContainer__gatosEspeciales img:hover {
    filter: brightness(100%);
    transform: scale(1.01);
  }
}
main .catContainer__gatosViejos p, main .catContainer__gatosAdultos p, main .catContainer__gatitos p, main .catContainer__gatosEspeciales p {
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.776);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  main .catContainer__gatosViejos p, main .catContainer__gatosAdultos p, main .catContainer__gatitos p, main .catContainer__gatosEspeciales p {
    font-size: 3rem;
  }
}
main .saleBox {
  width: 100%;
  height: 20vh;
  box-shadow: 1px 1px 18px -2px black;
}
@media screen and (min-width: 1280px) {
  main .saleBox {
    height: 45vh;
  }
}
main .saleBox a {
  display: block;
  width: 100%;
  height: 100%;
}
main .saleBox a .sales {
  box-shadow: 1px 1px 18px -2px black;
  width: 100%;
  height: 100%;
}
main .perros, main .gatos {
  width: 100%;
  margin-bottom: 2rem;
}
main .perros .subtitle, main .gatos .subtitle {
  color: white;
  margin-top: 1.5rem;
  padding-left: 0.8rem;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.776);
}
@media screen and (min-width: 1280px) {
  main .perros .subtitle, main .gatos .subtitle {
    padding-left: 2.4rem;
    font-size: 2.5rem;
  }
}
main .perros span, main .gatos span {
  height: 0;
  border-bottom: 2px solid white;
  display: block;
  margin: 0 0.8rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  main .perros span, main .gatos span {
    margin: 0 2.4rem 2.4rem 2.4rem;
  }
}
main .perros .cardContainer, main .gatos .cardContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  padding: 0.8rem;
  padding-top: 0;
}
@media screen and (min-width: 1280px) {
  main .perros .cardContainer, main .gatos .cardContainer {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 2.4rem;
    padding-top: 0;
  }
}
main .perros .cardContainer .card, main .gatos .cardContainer .card {
  width: 100%;
  max-width: 250px;
  height: 330px;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  transition: all 450ms ease;
}
main .perros .cardContainer .card:hover, main .gatos .cardContainer .card:hover {
  box-shadow: 0px 3px 8px 0px rgba(17, 19, 27, 0.3);
}
@media screen and (min-width: 1280px) {
  main .perros .cardContainer .card, main .gatos .cardContainer .card {
    width: 250px;
    height: 410px;
    max-height: 410px;
    justify-self: center;
  }
}
main .perros .cardContainer .card img, main .gatos .cardContainer .card img {
  width: 100%;
  height: 55%;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 0.8rem;
  -o-object-fit: fill;
     object-fit: fill;
}
main .perros .cardContainer .card .card-body, main .gatos .cardContainer .card .card-body {
  height: 45%;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
main .perros .cardContainer .card .card-body__box-title, main .gatos .cardContainer .card .card-body__box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
  height: 40%;
}
main .perros .cardContainer .card .card-body__box-title .card-title, main .gatos .cardContainer .card .card-body__box-title .card-title {
  text-align: center;
  font-size: 1rem;
}
main .perros .cardContainer .card .card-body .card-text, main .gatos .cardContainer .card .card-body .card-text {
  height: 25%;
  text-align: center;
  margin-bottom: 0.4rem;
}
main .perros .cardContainer .card .card-body div, main .gatos .cardContainer .card .card-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
}
main .perros .cardContainer .card .card-body div input, main .gatos .cardContainer .card .card-body div input {
  width: 40%;
  height: 100%;
  margin-right: 0.3rem;
  border-radius: 0;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.35);
  color: #777;
  text-align: center;
}
main .perros .cardContainer .card .card-body div a, main .gatos .cardContainer .card .card-body div a {
  width: 60%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.72rem;
  border-style: none;
  border-radius: 0;
  padding: 0.25rem 0.9rem;
  text-align: center;
  background-color: #ffc107;
  align-self: center;
}
@media screen and (min-width: 1280px) {
  main .perros .cardContainer .card .card-body div a, main .gatos .cardContainer .card .card-body div a {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
main .perros .cardContainer .card .card-body div a .fa-cart-plus, main .gatos .cardContainer .card .card-body div a .fa-cart-plus {
  font-size: 0.8rem;
}
@media screen and (min-width: 1280px) {
  main .perros .cardContainer .card .card-body div a .fa-cart-plus, main .gatos .cardContainer .card .card-body div a .fa-cart-plus {
    margin-right: 0.2rem;
    font-size: 1.4rem;
  }
}
main .perros .cardContainer .card .card-body div a:hover, main .gatos .cardContainer .card .card-body div a:hover {
  opacity: 0.76;
}
main .about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0.8rem;
}
@media screen and (min-width: 780px) {
  main .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 2rem;
  }
}
main .about-us__box-container {
  width: 100%;
}
@media screen and (min-width: 780px) {
  main .about-us__box-container {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
  }
}
main .about-us__box-container .float-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
@media screen and (min-width: 780px) {
  main .about-us__box-container .float-box {
    height: 100%;
  }
}
main .about-us__box-container .float-box .float-img {
  width: 100px;
  height: 150px;
  margin: 0.5rem;
  float: left;
}
@media screen and (min-width: 780px) {
  main .about-us__box-container .float-box .float-img {
    width: 150px;
    height: 200px;
  }
}
@media screen and (min-width: 1280px) {
  main .about-us__box-container .float-box .float-img {
    width: 170px;
    height: 220px;
  }
}
main .about-us__box-container .float-box .float-img img {
  width: 100%;
  height: 100%;
}
main .about-us__box-container p {
  color: black;
  font-family: "Inter", sans-serif;
}
main .about-us__box-container h3 {
  font-size: 1.15rem;
  font-family: "Inter", sans-serif;
}
main .about-us__box-container ul {
  font-family: "Inter", sans-serif;
}
main .video {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}
main .video video {
  width: 100%;
  height: 100%;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
}
main .title-help-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100vw;
  height: 30%;
}
@media screen and (min-width: 1280px) {
  main .title-help-container {
    flex-direction: row;
    justify-content: center;
    height: 20vh;
    padding: 1rem;
  }
}
main .title-help-container h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0.75rem;
  font-family: "Bebas Neue", cursive;
}
@media screen and (min-width: 780px) {
  main .title-help-container h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  main .title-help-container h2 {
    margin: 0;
  }
}
main .title-help-container .fa-paper-plane {
  display: block;
  color: #ffc107;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.776);
  font-size: 2rem;
}
@media screen and (min-width: 780px) {
  main .title-help-container .fa-paper-plane {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  main .title-help-container .fa-paper-plane {
    margin-left: 2rem;
    font-size: 3rem;
  }
}
main .boxFormContainer {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 1rem;
  font-family: "Inter", sans-serif;
  box-shadow: 1px 1px 18px -2px black;
  border-radius: 6px;
}
@media screen and (min-width: 1280px) {
  main .boxFormContainer {
    padding: 2rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}
main .boxFormContainer .form-floating, main .boxFormContainer .radioContainer, main .boxFormContainer .form-select {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1280px) {
  main .boxFormContainer .form-floating, main .boxFormContainer .radioContainer, main .boxFormContainer .form-select {
    width: 40%;
    min-width: 40%;
    display: inline-block;
    margin: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  main .boxFormContainer .form-select {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  main .boxFormContainer .form-floating-4 .floatingSelect {
    transform: scale(0.85) translateY(0.5rem) translateX(0.15rem);
  }
}
main .boxFormContainer .radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .boxFormContainer .radioContainer div {
  margin-right: 1rem;
}
main .boxFormContainer .titleRadio {
  margin-bottom: 0.5rem;
}
main .boxFormContainer .textArea-container {
  width: 100%;
}
main .boxFormContainer .textArea-container .textArea {
  resize: none;
  overflow-y: auto;
}
@media screen and (min-width: 1280px) {
  main .boxFormContainer .textArea-container .textArea {
    width: 100%;
  }
}
main .boxFormContainer .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
main .boxFormContainer .submitBtn__btn {
  background-color: #ffc107;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
}
main .boxFormContainer .submitBtn__btn:hover {
  background-color: #ffc107;
  filter: brightness(70%);
}

footer {
  background-color: rgba(10, 10, 10, 0.885);
  box-shadow: 1px 1px 18px -2px black;
  height: 30%;
}
@media screen and (min-width: 1280px) {
  footer {
    height: 40%;
  }
}
footer .footerContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 1280px) {
  footer .footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}
footer .footerContainer .box {
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
}
footer .footerContainer .box h3 {
  color: white;
  margin-bottom: 1.5rem;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6rem;
}
footer .footerContainer .box ul {
  list-style: none;
  padding: 0;
}
footer .footerContainer .box ul li {
  margin-bottom: 0.4rem;
}
footer .footerContainer .box ul li a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
footer .footerContainer .box ul li a:hover {
  color: rgba(255, 255, 255, 0.3);
}
footer .footerContainer .bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: 0;
  width: 50%;
  transform: translateX(50%);
  margin-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  footer .footerContainer .bar {
    display: none;
  }
}
footer .redesSociales {
  display: flex;
  justify-content: flex-end;
}
footer .redesSociales .fa-facebook-square {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: white;
}
footer .redesSociales .fa-instagram-square {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: white;
}
footer .redesSociales .fa-twitter {
  margin-right: 1rem;
  font-size: 1.55rem;
  color: white;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  text-align: center;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}
footer p::after {
  content: "  DeliveryPetFood.com";
  color: #aaa000;
}/*# sourceMappingURL=estilos_nuevos.css.map */